.contacto{
    background-image: url('https://media.istockphoto.com/photos/grunge-background-picture-id637350420?k=20&m=637350420&s=612x612&w=0&h=JyGkD_lC9eAiswveaJqtIZtYTZvLazrIAXCgHoxrzHA=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top:80px;
    padding-bottom: 80px;
}
.contacto h1{
    font-family: 'Just Another Hand', sans-serif;
    font-size: 5em;
    margin: 20px;
    text-align: center;
}
.contacto h2{
    color: rgb(241, 18, 18);
    font-family: 'Patrick Hand', cursive;
    font-size: 2.4em;
}
.contacto span{
    color: rgb(0, 0, 0);
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
}
.contacto p{
    color:rgb(0, 0, 0);
    font-size: 2em;
    font-family: 'Patrick Hand', cursive;
}
.horario{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.caja1{
    background-color: rgb(255, 255, 255);
    padding-left: 35px;
    padding-right: 40px;
    box-shadow: 0px 0px 10px 0px #333 inset;
    margin-bottom: 30px;
}
.caja2{
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px #333 inset;
    margin-bottom: 30px;
}
.loc{
    margin: 10px;
}

.informacion{
    background-color: #25d366;

color: white;
border-radius: 30px;
border: #25d366 solid;
display: flex;
justify-content: center;
}
.informacion a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-left: 10px;
    font-family: 'Patrick Hand', cursive;

}
.informacion li{
    display: flex;
align-items: center;
}

.informacion:hover{
    background-color: #29a858;
    border: #29a858 solid;
}

