.sidenav{
    background-image: url("https://s1.pictoa.com/media/galleries/019/899/01989954a26d02072d8/27674854a26d0208284.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    } 
h1{
    font-family: 'Julee', cursive;
    color: rgb(0, 0, 0);
    background-color: rgb(194, 0, 0);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 30px;
}
span{
    color: white;
}
.sidenav a{
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    color:rgb(194, 0, 0);
    text-align: center;
    margin: 60px;
}
.sidenav a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
label{
    color:rgb(194, 0, 0);
    font-family: 'Julee', cursive;
    font-size: 2em;
}
input{
    border:rgb(194, 0, 0)  2px solid !important;
}
.not-active{
    color:rgb(114, 110, 110);
    font-family: 'Julee', cursive;
    font-size: 2em;
    display: flex;
    justify-content: center;
    pointer-events: none; 
    cursor: default; 
}
.active{
    color:rgb(194, 0, 0);
    font-family: 'Julee', cursive;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.active a:hover{
    text-decoration: none;
}