*{
    margin: 0;
    padding: 0;
}
.body1{
    background-image: url("https://s2.pictoa.com/media/galleries/287/791/2877915fc78b7cdd29d/36586355fc78b88180b9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    position:fixed;
    z-index: 20;
    background:rgb(0, 0, 0);
    height: 90px;
}
li{
    padding: 10px;
    margin-left: 10px;
}
li a{
    color: rgb(255, 255, 255);
    font-family: 'Just Another Hand', sans-serif;
    font-size: 1.8em;
    justify-content:right;
}
li a:hover{
    color: rgb(194, 0, 0);
    text-decoration: none;
}
.burger{
    color: rgb(194, 0, 0);
}
.container{
    max-width: 100%;
}
.baner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.baner p{
    font-size: 2.3em;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}
.banner2{
    display: none;
}
.carousel{
    padding-top: 50px;
    padding-bottom: 20px;
    position: inherit;
}
.somos{
    padding: 30px;
}
.somos h1{
    font-family: 'Just Another Hand', sans-serif;
    color: rgb(194, 0, 0);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 30px;
}
.somos p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: justify;
    font-weight: bold;
}
.somos2{
    background-image: url("https://media.istockphoto.com/vectors/abstract-red-blurred-lines-background-vector-id1269168880?k=20&m=1269168880&s=612x612&w=0&h=XOPX26LQSyyIASeUcj-vLCs0C5v01gDp8bq4UKHw9go=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
.somos2 h1{
    font-family: 'Just Another Hand', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 20px;
}
.somos2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right:5%;
    text-align: justify;
    margin-bottom: 20px;

}
.img1{
    width:100%;
    border-radius: 0px 20px 0px 20px;
    margin: 15%;
}
.somos3{
    background-image: url("https://s2.pictoa.com/media/galleries/287/791/2877915fc78b7cdd29d/36586355fc78b846e43f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.623);
    background-blend-mode: multiply;
    min-height: 90vh;
}
.somos3 h1{
    font-family: 'Just Another Hand', sans-serif;
    color:rgb(0, 0, 0);
    background-color: rgba(158, 16, 16, 0.678);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 40px;
}
.somos3 li{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right:5%;
    text-align: justify;
    line-height: 35px;
    list-style:circle;
}
.list1{
    margin-left: 60px;
    list-style: circle;
}
.list2{
    margin-right: 60px;
    list-style: circle;
}
.somos4{
    background-image: url("https://media.istockphoto.com/vectors/grey-white-tech-geometric-abstract-background-vector-id1044827998?k=20&m=1044827998&s=612x612&w=0&h=XRy20GFuUrHjpNVXXujMx349DMx5wtiDmf5OmjXrWgA=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.somos4 h1{
    font-family: 'Just Another Hand', sans-serif;
    color:rgb(194, 0, 0);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 30px;
}
.tarjeta{
    display: flex;
    justify-content: center;
}
.card{
    width: 70%;
    background-color:transparent;
    border: none;
}
.card-body{
    padding-top: 25px;
}
.card p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color:rgb(194, 0, 0);
    text-align: center;
    line-height: 35px;
}
.img_card{
    min-height: 200px;
}
.somos5{
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(48,3,3,1) 46%, rgba(213,12,12,1) 79%);
}
.somos5 h1{
    font-family: 'Just Another Hand', sans-serif;
    color:rgb(194, 0, 0);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 50px;
}
.somos5 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right:5%;
    text-align: justify;
    margin-bottom: 90px;
    margin-top: 50px;
}
.pago{
    background-image: url("https://media.istockphoto.com/vectors/vibrant-vector-background-vector-id1167967103?k=20&m=1167967103&s=612x612&w=0&h=t_q_wTSc5fAttE21bC4OAdd1pZUTk2QXmVR5pHKuxig=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pago h1{
    font-family: 'Just Another Hand', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 50px;
}
.pago p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    text-align: justify;
    text-align: center
}
.tabla{
    width: 60px;
}
.table-dark{
    color: #fff;
    background-color: #343a40;
    width: 50vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
    margin-left: auto;
}

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:30px;
    bottom:50px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .banner2{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
    .banner2{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
.disable{
    display: none;
}
@media (max-width:800px){
    .baner{
        background-color:rgb(255, 255, 255);
        height: 100vh;
    }
    .baner span{
        font-family: 'Just Another Hand', sans-serif;
        color:rgb(231, 1, 1);
        font-size: 2em;
        justify-content: center;
        display: flex;
        font-weight: bold;
        margin: 0px;
    }
    .baner1{
        display: none;
    }
    .banner2{
        display: block;
        width: 100%;
    }
    .body1{
        background-image: url("https://s2.pictoa.com/media/galleries/287/791/2877915fc78b7cdd29d/36586355fc78b8175cd9.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .list1{
        margin-left: auto;
        margin-right: auto;
    }
    .list2{
        margin-left: auto;
        margin-right: auto;
    }
    .baner p{
        display: none;
    }
}




