*{
    margin: 0;
    padding: 0;
}
.body1{
    background-image: url('https://cdn.pixabay.com/photo/2021/09/25/10/08/road-6654573_960_720.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    color: rgb(206, 122, 13);
    font-size: 3em;
    margin-left: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Graduate', cursive;
}
.logo:hover{
    text-decoration: none;
    color: dimgray;
}
.navbar{
    position:fixed;
    z-index: 20;
    background:transparent;
    height: 65px;
    transition: 0.5s;
}
.abajo{
    background:#373737;
    padding: 0px 10px;
}
.abajo li a{
    color: rgb(206, 122, 13);
}
li{
    padding: 6px;
}
li a{
    color:rgb(0, 0, 0);
    font-family: 'Kelly Slab', cursive;
    font-size: 1.3em;
    justify-content:right;
}
li a:hover{
    color:#f4f4f4;
    text-decoration: none;
}
.burger{
    color: rgb(206, 122, 13);
}
.container{
    max-width: 100%;
}
.baner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/18/21/30/bike-1836962_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.entrada{
    display: flex;
    padding: 30px;
    margin-top: 200px;
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
}
.baner p{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-family: 'BIZ UDMincho', serif;
}
.moto1{
    margin-top: 110px;
    margin-bottom: 20px;
    margin-left: 20px;
    position: inherit;
    border-radius: 10% 0% 10% 0% !important;
}
.somos{
    padding: 30px;
}
.somos h1{
    font-family: 'Kelly Slab', cursive;
    color: rgb(206, 122, 13);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 0px;
}
.somos p{
    font-family: 'BIZ UDMincho', serif;
    font-size: 1.3em;
    color: white;
    text-align: justify;
}
.somos2{
    background-image: url("https://cdn.pixabay.com/photo/2017/01/31/01/35/background-2022763__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
.somos2 h1{
    font-family: 'Kelly Slab', cursive;
    color: rgb(255, 255, 255);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    margin-bottom: 30px;
}
.somos2 p{
    font-family: 'BIZ UDMincho', serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-right:5%;
    text-align: justify;
    margin-bottom: 20px;

}
.moto2{
    width:100%;
    border-radius: 0px 20px 0px 20px;
    margin: 15%;
    height: 80%;
}
.somos5{
    background: rgb(0,0,0);
    background: linear-gradient(131deg, rgba(0,0,0,1) 12%, rgba(116,106,95,1) 80%, rgba(222,207,182,1) 99%);
}
.somos5 h1{
    font-family: 'Kelly Slab', cursive;
    color:rgb(206, 122, 13);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 50px;
}
.somos5 p{
    font-family: 'BIZ UDMincho', serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right:5%;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 50px;
}
.somos3{
    background-image: url("https://cdn.pixabay.com/photo/2018/10/29/19/14/motorcycle-3781800_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.493);
    background-blend-mode: multiply;
    min-height: 90vh;
}
.somos3 h1{
    font-family: 'Kelly Slab', cursive;
    color:rgb(0, 0, 0);
    background-color: rgba(206, 122, 13, 0.479);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 40px;
}
.somos3 p{
    font-family: 'BIZ UDMincho', serif;
    font-size: 1.5em;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    margin-bottom: 40px;
}
.somos3 li{
    font-family: 'BIZ UDMincho', serif;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    text-align: justify;
    list-style:inside;
}
.list{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: circle;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    max-width: 450px;
}

/* ESTILOS DE VARIEDADES DE MOTOS */
.seccion5 h1{
    font-family: 'BIZ UDMincho', serif;
    color:black;
    display: flex;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.63);
    text-align: center;
    font-size: 4em;

}
.seccion5 h2{
    font-family: 'BIZ UDMincho', serif;
    color:rgb(206, 122, 13);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em white;
}
.cards1{
    display: flex;
    justify-content: center;
}
.tarjeta{
    margin: 20px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color:transparent;
    border: none;
}
.tarjeta:hover {
    transform: scale(1.15);
    transition:1s all;
    border-color: none !important;
}
.tarjeta p{
    font-family: 'Kelly Slab', cursive;
    color:rgb(206, 122, 13);
    font-size: 2em;
    margin-top: 20px;
    padding-bottom: 0px;
}
.imagenCard{
    width: 18rem;
    height: 10rem;
    background-image: url('https://5.imimg.com/data5/TB/IY/GLADMIN-68162457/kawasaki-ninja-h2r-bike-500x500.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenCard2{
    width: 18rem;
    height: 10rem;
    background-image: url('https://www.motociclismo.es/uploads/s1/78/35/88/3/ducati-panigale-v4-2021-01.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenCard3{
    width: 18rem;
    height: 10rem;
    background-image: url('https://www.motociclismo.es/uploads/static/motociclismo/upload/images/paragrapharticle/29979/paragrapharticle-70517-5954c291e2ee0.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenCard4{
    width: 18rem;
    height: 10rem;
    background-image: url('https://www.soymotero.net/sites/default/files/styles/max_width_800px/public/2016-10/2017_YAM_MT10DX_EU_BWM2_STU_002_03.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#harley{
    width: 18rem;
    height: 10rem;
    background-image: url('https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2015/08/453199-harley-davidson-fat-boy-s-mala-huesos.jpg?itok=fQvi6vj8');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#iron{
    width: 18rem;
    height: 10rem;
    background-image: url('https://www.harley-davidson.com/content/dam/h-d/images/product-images/bikes/motorcycle/2021/2021-iron-883/gallery/2021-iron-883-motorcycle-g2.jpg?impolicy=myresize&rw=820');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#yamahaX{
    width: 18rem;
    height: 10rem;
    background-image: url('https://www.excelenciasdelmotor.com/sites/default/files/u7/yamaha-xv950-2014_05.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#kawa2{
    width: 18rem;
    height: 10rem;
    background-image: url('https://fiberbull.com/wp-content/uploads/2019/12/Kawasaki-vulcan-s-650-20.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#yamahaW{
    width: 18rem;
    height: 10rem;
    background-image: url('https://i.pinimg.com/736x/00/2f/93/002f93e5e02d27a4e7b80c47b60dc3f0.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#suzuki{
    width: 18rem;
    height: 10rem;
    background-image: url('https://cdp.azureedge.net/products-private/prod/9b45ffc5-989f-4ce2-9033-5383178b5279/6dac21e1-4f17-407e-8a45-a60101214792/00000000-0000-0000-0000-000000000000/6427266d-55c7-4d9b-ada5-ac3200525f69/f6267665-b7ca-413c-8a49-ac7e011fe68f/6000000001.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#kawaK{
    width: 18rem;
    height: 10rem;
    background-image: url('https://www.soymotero.net/sites/default/files/styles/amp_1200x675_16_9/public/2008-09/klx-250.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ktm{
    width: 18rem;
    height: 10rem;
    background-image: url('https://s3.eu-west-1.amazonaws.com/cdn.motorbikemag.es/wp-content/uploads/2020/11/KTM-690-Enduro-R-2021-accion-4-530x397.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:767px){
    .tes{
        display: grid !important;
    }
    .cards1{
        display: grid;
    }
}

/* ESTILOS DE ACCESORIOS*/

.seccion6{
    background-image: url('https://cdn.pixabay.com/photo/2015/12/11/14/04/texture-1088149_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.seccion6 h1{
    font-family: 'Kelly Slab', cursive;
    color: rgb(206, 122, 13);
    font-size: 4em;
    justify-content: center;
    display: flex;
    margin: 20px;
}
.seccion6 p{
    font-family: 'BIZ UDMincho', serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    margin-bottom: 40px;
}
.carta h5{
    font-family: 'BIZ UDMincho', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(206, 122, 13);
}
.carta p{
    color: #000;
    font-size: 1em;
    font-family: 'BIZ UDMincho', serif;
    padding: 0px;
}
.caja{
    box-shadow: 0px 0px 10px 0px #333 inset;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
#casco{
    width: 10rem;
    height: 16rem;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFZa349CtXOESqPCO5fv99xA0SF7JqMO0Ruy2GmxoTopbM22TSJSMhiALOLHA6ikyxikw&usqp=CAU');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7px;
}
#guantes{
    width: 10rem;
    height: 16rem;
    background-image: url('https://www.stracingstore.es/5870-12858-home_default/guantes-alpinestars-supertech-negro-blanco-rojo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7px;
}
#botas{
    width: 10rem;
    height: 16rem;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB8dw0_1r70eRkYHlCgiuJEwAlWKEiRDb_SDKLma6hgeGD9k4egTKsPMc4ROtzgWuxJCQ&usqp=CAU');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7px;
}
#chaqueta{
    width: 10rem;
    height: 16rem;
    background-image: url('https://motosvicente.es/1902-large_default/chaqueta-alpinestars-stella-t-gp-plus-r.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7px;
}
#rodilleras{
    width: 10rem;
    height: 16rem;
    background-image: url('https://http2.mlstatic.com/D_NQ_NP_981395-MLM32406610922_102019-O.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7px;
}
#maletero{
    width: 10rem;
    height: 16rem;
    background-image: url('https://tienda-yamaha.com.co/2877-home_default/maletero-en-polipropileno-yamaha-29lt.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7px;
}
@media (max-width:800px){
    .baner{
        background-image: url('https://i.pinimg.com/originals/9e/03/fe/9e03feaea3aa680ba1d3995cffc262b4.png');
        height: 100%;
    }
    .body1{
        background-image: url("https://images.pexels.com/photos/1955134/pexels-photo-1955134.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .baner p{
        display: none;
    }
    .logo{
        font-size: 1.5em;
        text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);
    }
    .moto1{
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
        width: 270px;
        position: inherit;
        border-radius: 10% 0% 10% 0% !important;
    }
    .somos{
        padding:0px;
    }
    .somos h1{
        font-size: 3em;
        align-items: center;
        margin: 20px;
    }
    .somos2 h1{
        font-size: 3em;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .somos2 p{
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 20px;
    }
    .moto2{
        width:120%;
        margin: 20px;
        margin-left: 0px;
    }
    .somos5 h1{
        font-size: 3em;
        align-items: center;
        margin: 30px;
    }
    .somos5 p{
        margin-left: 0px;
        margin-right:0px;
        text-align: justify;
        margin-top: 20px;
    }
    .somos3{
        background-image: url("https://images.pexels.com/photos/3876465/pexels-photo-3876465.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(0, 0, 0, 0.493);
        background-blend-mode: multiply;
        min-height: 90vh;
    }
    .somos3 h1{
        font-size: 2em;
        margin: 20px;
    }
    .somos3 p{
        padding-left:0px;
        padding-right:0px;
        margin-bottom: 40px;
    }
    .seccion5 h1{
        font-size: 3em;
    }
    .seccion6 h1{
        font-size: 3em;
    }
    .seccion6 p{
        padding-left:0px;
        padding-right:0px;
    }
    .fotos{
        display: flex;
        justify-content: center;
    }
    .carta h5{
        justify-content: center;
        text-align: center;
    }
    .tarjeta p{
        text-align: center;
        text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);
    }
}




