body{
    background-image: url('https://media.istockphoto.com/photos/grunge-background-picture-id637350420?k=20&m=637350420&s=612x612&w=0&h=JyGkD_lC9eAiswveaJqtIZtYTZvLazrIAXCgHoxrzHA=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;

}
.navbar{
    position:fixed;
    z-index: 20;
    background:rgb(0, 0, 0);
    height: 90px;
}
li{
    padding: 10px;
    margin-left: 10px;
}
li a{
    color: rgb(255, 255, 255);
    font-family: 'Just Another Hand', sans-serif;
    font-size: 1.8em;
    justify-content:right;
}
li a:hover{
    color:rgb(241, 18, 18);
    text-decoration: none;
}
.burger{
    color:rgb(241, 18, 18);
}
.principal-title{
    width: 70%;
}
h1{
    font-family: 'Just Another Hand', sans-serif;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    background-color: rgb(241, 18, 18);
    text-align: center;
    font-size: 4em;
    margin-top: 120px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:rgb(241, 18, 18);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}
.cards1{
    display: flex;
    justify-content: center;
}
.tes{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

}
.tes2{
    display: flex;
    justify-content: center;
}
.test{
    display: flex;
    justify-content: center;
}
.tarjeta{
    margin: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 0px #333 inset;
    width: 23rem;
    height: 25rem;
    font-family: 'Montserrat', sans-serif;
}
.tarjeta:hover {
    transform: scale(1.15);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition:1s all;
    border-color: none !important;

  }

.tarjeta h5{
    color: rgb(241, 18, 18);
}
.tarjeta p{
    color: black;
}
.nombre{
    font-family: 'Just Another Hand', sans-serif;
    font-size: 3em;
    display: flex;
    justify-content: center;
    padding: 0;
}
.border-success{
    border-bottom:rgb(241, 18, 18) solid 0.7px !important ;
}
@media (max-width:767px){
    .tes{
        display: grid !important;
    }
    .cards1{
        display: grid;
    }
}